@import "tailwindcss";

@theme {
  --font-arvo: "Arvo", serif;
  
  --color-background: #0F0F23;
  --color-dark: #2A2359;
  --color-primary: #BF247A;
  --color-secondary: #812B8C;
  --color-accent: #D9731A;
  --color-danger: #BF3939;
  --color-surface: #F5F5F5;
  --color-input-bg: rgba(26, 27, 75, 0.5);
}